/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
 *, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
}

.bloc-tabs {
  display: flex;
}
.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}



button {
  border: none;
  
}
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}

.listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-width: 500px; /* Replace 400px with your desired minimum fixed size */
  min-height: 350px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.listing-container-ash {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 700px;
  max-width: 1000px;
  min-height: 550px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #b6b6b6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.listing-container-ash-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  max-width: 1000px;
  min-height: 550px; 
  margin: 0 auto;
  padding: 20px;
  background-color: #b6b6b6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.listing-container-ash-notwide {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: #b6b6b6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.listing-container-nonalign {
  /* display: flex; */
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.listing-container-wide {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #b6b6b6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.table-container {
  overflow: auto;
  max-height: 400px;
  margin-top: 20px;
}
.table-container-notwide {
  overflow: auto;
  max-height: 400px;
  max-width: 1000px;
  margin-top: 20px;
}
.button {
  background-color: black;
  color: white;
  padding: 0px 10px;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
}
.button-white {
  background-color: white;
  color: black;
  padding: 0px 10px;
  border-radius: 10px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  margin-top: 10px;
}
.centered-table th {
  text-align: center;
}
.sales-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.chart-container {
  width: 75%;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #f1f1f1;
  overflow-x: hidden;
  transition: width 0.3s ease-out;
}

.sidebar.expanded {
  width: 200px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.sidebar-toggle-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}
.table-wrapper {
  width: 80%;
  max-height: 400px;
  /* overflow-y: auto; */
}


/* Add the transition for the color property */
.fade-color {
  transition: color 0.5s ease;
}

/* Define the faded color for the button */
.fade-color {
  color: gray;
}
/* CSS for the table container */
.table-container {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  background-color: #b6b6b6;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* CSS for the table */
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center; /* Center align the content in the table cells */
}

/* CSS for table header */
.table th {
  background-color: #f2f2f2;
  padding: 4px;
  border: 1px solid #ccc;
  border-width: 2px; /* Make the table header lines bold */
}

/* CSS for table cells */
.table td {
  padding: 4px;
  border: 1px solid #ccc;
  border-width: 2px; /* Make the table cell lines bold */
}

/* Alternate row background color for better readability */
.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect on table rows */
.table tr:hover {
  background-color: #ddd;
}

